.castList {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 0;
    list-style: none;
  }
  
  .castItem {
    text-align: center;
    width: 150px;
  }
  
  .profile {
    width: 100px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
  }
  