.header {
    background-color: #333;
    padding: 10px;
  }
  
  .link {
    color: white;
    margin-right: 15px;
    text-decoration: none;
  }
  
  .link.active {
    font-weight: bold;
    text-decoration: underline;
  }
  